/* Universal selector */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* Element selectors */
p {
    font-size: 32px;
}

a {
  text-decoration: none;
  color: #000000;
  
}

/* Experimental Cube */

.cube-section {
  display: flex;
  justify-content: center;
}

.cube {
    width: 20px;
    height: 20px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .face {
    width: 200px;
    height: 200px;
    background: #05520c;
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    opacity: 0.25;
    transform: translateZ(100px);
  }
  .front {
    transform: translateZ(100px);
  }
  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }
  .left {
    transform: translateX(-100px) rotateY(-90deg);
  }
  .right {
    transform: translateX(100px) rotateY(90deg);
  }
  .top {
    transform: translateY(-100px) rotateX(90deg);
  }
  .bottom {
    transform: translateY(100px) rotateX(-90deg);
  }



/* Class selectors */
.header {
    padding: 20px;
    background-color: #bdbec4;
    color: #000000;
    text-align: center;
    margin-bottom: 15%;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}   


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    margin-top: 30px;
}

header nav ul {
    list-style-type: none;
    font-size: 23px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.pg-1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pg-box {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black;
  border-radius: 10%;
  align-content: center;
}


.pg-2 {
  min-height: 100vh;
  padding: 90px;
  background-color: #bdbec4;
  border: #000000;
  border-style: solid;

}

.pg2-box {
  display: flex;
  flex-wrap: wrap;
}


.card {
  border-style: dotted;
  border-width: 1px;
  float: left;
  width: 25%;
  border-radius: 25px;
}

.card img {
  width: 100%;
  border-radius: 20px;
}



.pg-3 {
  min-height: 100vh;
  border: #000000;
  border-style: solid;
}

.pg3-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000000;
  border-radius: 10%;
  align-content: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;

}

form {
  margin-top: 50Px;
  display: flex;
  flex-direction: column;
  width: 50%;

}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
  
}


@media screen and (max-width: 992px) {
  .card {
    width: 50%;
    height: 50%;
    background-color: rgb(179, 168, 168);
  }
  .pg-box {
    width: 50%;
    height: 50%;
  }
  
  header {
  width: 110%;
  }
  
  .cube-section {

    position: relative;
    left: 100px;
  }

  .pg-2 {
    width: 110%;
  }

  .pg-3 {
    width: 110%;
  }
  

}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: 50%;
  }

  .pg-box {
    width: 100%;
    height: 50%;
  }
  form {
    height: 80%;
    width: 50%;
  }
}


